/* Basic reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(219, 219, 219) !important;
}

/* Admin layout wrapper */
.admin-layout {
  display: flex;
  height: 100vh;
}

/* Sidebar (navigation) */
.admin-sidebar {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 20%;
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.admin-sidebar h3 {
  color: #ffffff;
  margin-bottom: 5px;
}

.admin-sidebar ul {
  list-style: none;
  border-top: #747373 1px solid;
}

.admin-sidebar ul li {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
 
}

.admin-sidebar ul li a {
  color: #747373;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.admin-sidebar ul li a:hover,
.admin-sidebar ul li a:active,
.admin-sidebar ul li a.active {
  color:#6482ad ;
}

.admin-sidebar button{
  margin:auto;
}
.admin-sidebar button:hover{
  border:1px solid white;
}
.logout{
  margin-bottom: 0;
  margin-top: auto;
}
/* Main content area */
.admin-content {
  position: absolute;
  left:20%;
  top:0;
  width:80%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #e0e0e0; /* Light grey background */
  margin:0; /* Margins for rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.admin-content h1 {
  margin-bottom: 20px;
}
.sidebar-button {
  margin-right: 4rem;
  padding: 0.4rem 0.75rem;
  background-color: #343a40;
  display: flex;
  align-items: center;
}
@media (max-width:1024px){
  .nav-text{
    display: none;
  }
  .admin-sidebar{
    width: 5%;
  }
  .admin-content{
    width:95%;
    left: 5%;
  }
}
@media (max-width:768px){
  .admin-sidebar {
    width: 100%; /* Full-width sidebar on mobile */
    transform: translateX(100%); /* Initially hidden */
    z-index: 100;
  }
  .admin-sidebar.active {
    transform: translateX(0);
  }
  .admin-content{
    width: 100%;
    left:0;
  }
  .menu-toggle{
    z-index: 110;
    position: fixed;
    top: 10px;
    right: 10px;
    background:rgba(0, 0, 0, 0.1);
    border: solid 0.5px black;
    color: #6482ad;
  }
}